/* 
 See the NOTICE file distributed with this work for additional information
 regarding copyright ownership.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for busco subworkflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines Busco Docker image's version and path for the local datsets    
----------------------------------------------------------------------------------------
*/

params {
        busco_version = 'v5.4.7_cv1'
        odb_version = '9'
        download_path = '/nfs/production/flicek/ensembl/genebuild/genebuild_virtual_user/data/busco_data/data'
        mode = ['protein', 'genome']

        busco_summary_genome_file = 'genome_busco_short_summary.txt'
        busco_summary_protein_file = 'busco_short_summary.txt'

        busco_lineages = '/nfs/production/flicek/wormbase/parasite/data/busco_lineages/lineages'

        //path for supplementary scripts
        meta_query_file = "${projectDir}/../bin/meta.sql"
        get_dataset_query = "${projectDir}/../bin/get_busco_dataset.sh"
        ortho_list = "${projectDir}/../data/busco_dataset.txt"

        // Params for dumping the translations. Default is canonical transcripts only
        // You should use '--nocanonical_only' if you want all proteins to be dumped
        dump_params = '-canonical_only 1'

        // Input options
        run = ''
        csvFile = ''

        // db connection
        host = ''
        port = ''
        user = ''

        enscode = ''
        wormcode = ''

        augustus_config_path = ''

        bioperl = "${params.enscode}/bioperl-1.6.924"
        wormpython = ''
        image_dir = ''

        help = false

        outDir = ''
}

scratch = ''
workDir = ''

// Load assembly-checker config
includeConfig '../nextflow.config'

env.PYTHONPATH = params.wormcode
env.AUGUSTUS_CONFIG_PATH = params.augustus_config_path

process { 
    withLabel: 'busco' {
    cpus = 40
    memory = { 40.GB * task.attempt }
    time = { 4.h * task.attempt }

    module = 'singularity-3.7.0-gcc-11.2.0-dtj2md2'
    container = "ezlabgva/busco:${params.busco_version}"
    }
}

process {
    withLabel:busco_run {
        cpus = 8
        memory = { 10.GB * task.attempt }
        time = { 4.h * task.attempt }

        module = 'singularity-3.7.0-gcc-11.2.0-dtj2md2'
        container = "ezlabgva/busco:${params.busco_version}"
    }
}

process {
    withLabel:busco3_run {
        cpus = 8
        memory = { 10.GB * task.attempt }
        time = { 4.h * task.attempt }

        module = 'singularity-3.7.0-gcc-11.2.0-dtj2md2'
        container = "busco3"
    }
}

singularity {
    enabled = true
    cacheDir = params.image_dir
}

