
# Group data
setenv EFG_GROUP 'eFG'                          #EDIT
setenv EFG_LOCATION 'Hinxton, Cambridge'        #EDIT
setenv EFG_CONTACT 'gw3@ebi.ac.uk'           #EDIT

#Code/Data Directories
setenv SRC /software/worm/ensembl                           #Root source code directory. EDIT This should be set in your .bashrc
setenv EFG_SRC $SRC/ensembl-functgenomics       #eFG source directory
setenv EFG_SQL $EFG_SRC/sql                     #eFG SQL
setenv EFG_DATA ~/Dev/modENCODE/Ensembl_FuncGen/data/efg                  #Data directory. EDIT

setenv EFG_PERL /software/bin/perl
setenv PATH ${PATH}:${EFG_SRC}/scripts              #eFG scripts directory

#Your efg DB connection params
#These may change to DB_HOST inline with pipeline.env
#What about clash with pipeline.env DB_USER which is write user?
setenv DB_USER "wormadmin"                    #EDIT
setenv DB_RO_USER "wormro"                        #EDIT
setenv DB_HOST 'farmdb1'                     #EDIT
setenv DB_PORT 3306                                #EDIT
setenv MYSQL_ARGS "-h${DB_HOST} -P${DB_PORT}"     #If you are tunneling through local host add --protocol tcp    
#pass always supplied on cmd line e.g. mysqlw -p your password


#Your ensembl core DB connection params, read only
setenv DNADB_USER 'wormadmin'                        #EDIT if required e.g. anonymous
setenv DNADB_HOST 'farmdb1'                  #EDIT if required e.g. ensembldb.ensembl.org
setenv DNADB_PORT 3306                           #EDIT if required e.g. 5306 for post 47 DBs on ensembldb
#Assumes we only want read only DNADB user
setenv DNADB_MYSQL_ARGS "-u${DNADB_USER} -h${DNADB_HOST} -P${DNADB_PORT}"  #If you are tunneling through local host add --protocol tcp    
setenv DNADB_SCRIPT_ARGS "-dnadb_host $DNADB_HOST -dnadb_user $DNADB_USER -dnadb_port $DNADB_PORT"
#could do with a quick method to change these between ens-livemirror, ensembldb/ensdb-archive?

#DAS params
setenv EFG_DAS_CONFIG $EFG_SRC/config/DAS        #DAS config dir where pid and config files are written
##setenv EFG_DAS_HOST $hostname                    #DAS sever host, set to $(hostname $HOSTNAME_SWITCH), localhost or EDIT?
setenv EFG_DAS_PORT 9876                         #Default DAS port EDIT
setenv EFG_DAS_NAME efg                          #DAS instance name EDIT
setenv EFG_DAS_HOME ${SRC}/Bio-Das-ProServer       #DAS code dir, must be ProServer!

setenv QUEUE_MANAGER 'LSF'                       #Set here rather that in pipeline as func.sh can use this
                                                 #Can be set to Local for offline
#But we need to be mindful of this growing for this unrelated processes
#i.e. this will slow down other jobs as they will touch all this dirs on init(lsf!)
#If these are set in your .bashrc then remove them from here

setenv PERL5LIB ${EFG_SRC}/modules:${EFG_DAS_HOME}/lib:${PERL5LIB}    #Update PERL5LIB. EDIT add $SRC/ensembl $EFG_DAS_HOME/lib etc. if required




#Default norm and analysis methods

setenv NORM_METHOD 'VSN_GLOG'                   #EDIT if required e.g. T.Biweight, Loess
setenv PEAK_METHOD 'Nessie'                     #EDIT if required e.g. TileMap, MPeak, Chipotle


#could do with a quick method to change these between ens-livemirror, ensembldb/ensdb-archive?
#R config
setenv R_LIBS $SRC/R-modules                                # ${R_LIBS: $SRC/R-modules}
setenv R_PATH /software/bin/R
setenv R_FARM_PATH /software/bin/R
setenv R_BSUB_OPTIONS "-R'select[type  X86_64 && mem>6000] rusage[mem 6000]' -q bigmem"


#need to check/define R_LIBS here
#could add PERL5LIB here too, this could be extended to include all config for shipping to users?  in bashrc for now
#should check for input and output dirs here and create with a question
#would need to sed file to set permanently?
