# autoace.config contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically
# Syntax: P db_name db_path
# every further line: suffix method
# filenames will be /wormbase/db_name/suffix_method.ace
# the database on db_path will be queried for method

# objects from briggsae database
P briggsae /wormsrv2/brigace
briggsae	Sequence	Species="Caenorhabditis briggsae"	[DNA_homol]
briggsae	DNA		Species="Caenorhabditis briggsae"


# objects from stlace 
P stlace /wormsrv2/stlace
stlace		Sequence
stlace		DNA		Species="Caenorhabditis elegans"


# objects from camace 
P camace /wormsrv2/camace
camace		Sequence						[Homol_data Feature_data]
camace		DNA		
camace		Motif


# objects from geneace 
P geneace /wormsrv2/geneace
geneace         2_point_data
geneace         Allele
geneace         Author
geneace         Clone
geneace         Contig
geneace         Expr_pattern
geneace         Gene_class
geneace         Grid
geneace         Journal
geneace         Laboratory
geneace         Life_stage
geneace         Locus
geneace         LongText
geneace         Map
geneace         Multi_pt_data
geneace         Paper
geneace         Picture
geneace         Pos_neg_data
geneace         Rearrangement
geneace         Reconstruction
geneace         Strain
geneace         View


# objects from emblace
P emblace /wormsrv2/emblace
emblace         DNA
emblace         Sequence
emblace         LongText
emblace         Allele


# objects from Cold Spring Harbour
P csh  /wormsrv2/cshace
csh             Cell
csh             RNAi
csh             Phenotype
csh             Sequence
csh             PCR_product
csh             LongText
csh             Movie
csh             GO_term
csh             Locus
csh             Allele
csh             Oligo


# objects from Caltech
P caltech  /wormsrv2/citace
caltech         Transgene
caltech         Expr_pattern
caltech         Life_stage
caltech         Cell
caltech         Cell_group
caltech         Paper
caltech         RNAi
caltech         Oligo
caltech         PCR_product
caltech         Sequence
caltech         Phenotype
caltech         Expr_profile
caltech         SK_map
caltech         Tree
caltech         TreeNode


# global .ace files
P misc /wormsrv2/wormbase/misc
misc            nonelegansests
misc            chromlinks
misc            status
misc            meta.jade
misc            tables
misc            tables.jade
misc            seq-gmap
misc            stl_superlink.fix
misc            pk_to_embl
misc            delete_methods
misc            autoace_methods
misc            WTP
misc            WTP_objects
