# autoace.config contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically
# Syntax: P db_name db_path
#
# <database> <filename> <class> <criteria> [delete tags] {include tag}
#
# Delete tags will remove those tags from the object before loading it into a database
# Include tags will only add those tags in the object and nothing else from that object
# Adding a + after an include tag will perform an acedb 'Follow' into that object and will
# get (and load?) that object instead
#
# e.g. camace	camace_Sequence.ace	Sequence  Species="Caenorhabditis elegans"
# will dump ?Sequence objects where Species is "Caenorhabditis elegans" from camace 


# objects from briggsae database
P brigace /wormsrv1/briggsae 	 
brigace  briggsae_Sequence.ace                  Sequence                Species="Caenorhabditis briggsae"       [Confidential_remark] 	 
brigace  briggsae_DNA.ace                       DNA                     Species="Caenorhabditis briggsae" 	 
brigace  briggsae_Transcript.ace                Transcript              Species="Caenorhabditis briggsae" 	 
brigace  briggsae_repeats.ace                   Briggsae_genomic                                                {Feature_data+} 	 
brigace  briggsae_CDS.ace                       CDS                     Species="Caenorhabditis briggsae"       [Confidential_remark]
brigace	 briggsae_Protein.ace			Protein
brigace	 briggsae_Peptide.ace			Peptide	
brigace	 briggsae_Variation.ace			Variation		

# objects from stlace 
P stlace /wormsrv2/stlace
stlace	  stlace_Sequence.ace			Sequence	Species="Caenorhabditis elegans"				[Homol_data Feature_data Homol_homol Protein_id Confidential_remark Matching_CDS Feature_object]
stlace	  stlace_CDS.ace			CDS								[Protein_id Confidential_remark Associated_feature]
stlace	  stlace_DNA.ace			DNA			
stlace	  stlace_Transposon.ace			Transposon
stlace	  stlace_Transcript.ace			Transcript	
stlace	  stlace_Genetic_code.ace		Genetic_code
stlace	  stlace_Pseudogene.ace			Pseudogene
stlace	  stlace_Variation.ace			Variation
stlace	  stlace_Oligo.ace			Oligo
stlace	  stlace_PCR_product.ace		PCR_product

# objects from camace 
P camace /wormsrv2/camace
camace	  camace_Sequence.ace			Sequence							[Homol_data Feature_data Homol_homol Protein_id Confidential_remark Matching_CDS Feature_object]
camace	  camace_CDS.ace			CDS								[Protein_id Confidential_remark]
camace	  camace_DNA.ace			DNA		
camace 	  camace_Motif.ace			Motif			!PFAM*					[Homol_homol]
camace	  camace_Transposon.ace			Transposon	
camace	  camace_Transcript.ace			Transcript
camace    camace_EST_features.ace		Sequence		Method = "EST_elegans"			{Feature_data+}		
camace    camace_NDB_features.ace		Sequence		Method = "NDB"				{Feature_data+}		
camace	  camace_Genetic_code.ace		Genetic_code
camace	  camace_Pseudogene.ace			Pseudogene
camace	  camace_Feature.ace			Feature
camace    camace_LongText.ace			LongText

# objects from geneace 
P geneace /wormsrv2/geneace
geneace	  geneace_2_point_data.ace		2_point_data
geneace   geneace_Clone.ace			Clone
geneace   geneace_Contig.ace			Contig
geneace   geneace_Gene_class.ace		Gene_class
geneace   geneace_Grid.ace			Grid
geneace   geneace_Laboratory.ace		Laboratory
geneace   geneace_Locus.ace			Locus
geneace   geneace_Gene.ace			Gene								[Reference]
geneace   geneace_Map.ace			Map
geneace   geneace_Multi_pt_data.ace		Multi_pt_data						
geneace   geneace_Oligo.ace			Oligo
geneace   geneace_PCR_product.ace		PCR_product
geneace   geneace_Picture.ace			Picture
geneace   geneace_Pos_neg_data.ace		Pos_neg_data
geneace   geneace_Rearrangement.ace		Rearrangement
geneace   geneace_Strain.ace			Strain								
geneace	  geneace_Variation.ace			Variation							[Phenotype_remark Recessive Semi_dominant Dominant Partially_penetrant Completely_penetrant Temperature_sensitive Loss_of_function Gain_of_function Maternal Paternal]
geneace   geneace_View.ace			View
geneace	  geneace_DBannotation.ace		Sequence							{DB_annotation}
geneace	  geneace_Operon_data.ace		Operon
geneace	  geneace_Database.ace			Database
							    
# objects from Cold Spring Harbour
P csh  /wormsrv2/cshace
cshace    csh_Sequence.ace			Sequence
cshace    csh_LongText.ace			LongText
cshace    csh_Movie.ace				Movie
cshace	  csh_Oligo.ace				Oligo
cshace	  csh_PCR_product.ace			PCR_product							[Overlaps_CDS Overlaps_transcript Overlaps_pseudogene]
cshace	  csh_Structure_data.ace		Structure_data
cshace	  csh_Peptide				Peptide
cshace	  csh_Protein				Protein								{Structure_homol}
cshace	  csh_Y2H.ace				Y2H		


# objects from Caltech
P caltech  /wormsrv2/citace
caltech   caltech_Transgene.ace			Transgene
caltech   caltech_Expr_pattern.ace		Expr_pattern
caltech   caltech_Life_stage.ace		Life_stage
caltech   caltech_Cell.ace			Cell
caltech   caltech_Cell_group.ace		Cell_group
caltech   caltech_Paper.ace			Paper
caltech	  caltech_Paper_name.ace		Paper_name
caltech	  caltech_Journal.ace			Journal
caltech	  caltech_Author.ace			Author
caltech	  caltech_Person.ace			Person
caltech	  caltech_LongText.ace			LongText
caltech   caltech_Oligo.ace			Oligo
caltech   caltech_PCR_product.ace		PCR_product							[Overlaps_CDS Overlaps_transcript Overlaps_pseudogene]
caltech   caltech_Sequence.ace			Sequence
caltech   caltech_CDS.ace			CDS
caltech   caltech_Phenotype.ace			Phenotype
caltech   caltech_Expr_profile.ace		Expr_profile
caltech   caltech_SK_map.ace			SK_map
caltech   caltech_Tree.ace			Tree
caltech   caltech_TreeNode.ace			TreeNode
caltech	  caltech_Microarray.ace		Microarray
caltech	  caltech_Microarray_results.ace	Microarray_results						[Gene CDS Transcript Pseudogene]
caltech	  caltech_Microarray_experiment.ace	Microarray_experiment
caltech	  caltech_Condition.ace			Condition
caltech	  caltech_Expresion_cluster.ace		Expression_cluster
caltech	  caltech_Oligo_set.ace			Oligo_set							[Overlaps_CDS Overlaps_transcript Overlaps_pseudogene]
caltech	  caltech_Anatomy_name.ace		Anatomy_name
caltech	  caltech_Anatomy_term.ace		Anatomy_term
caltech	  caltech_Homology_group.ace		Homology_group
caltech   caltech_Antibody.ace			Antibody
caltech   caltech_RNAi.ace			RNAi								[Inhibits]
caltech   caltech_RNAi_homol.ace                Homol_data		*RNAi
caltech   caltech_Expr_homol.ace		Homol_data		*Expr
caltech   caltech_SAGE_homol.ace                Homol_data		*SAGE
caltech	  caltech_SAGE_tag.ace			SAGE_tag#caltech	  caltech_SAGE_transcript.ace		SAGE_transcript
caltech	  caltech_SAGE_experiment.ace		SAGE_experiment
caltech	  caltech_Gene_regulation.ace		Gene_regulation
caltech	  caltech_Descriptions.ace	 	Gene								{Structured_description}
caltech	  caltech_GO_term.ace			Gene								{GO_term}
caltech	  caltech_Gene_SAGE_cons.ace		Gene								{SAGE_tag} 
caltech	  caltech_Transcript_SAGE_cons.ace	Transcript							{SAGE_tag}
caltech	  caltech_Pseudogene_SAGE_cons.ace	Pseudogene							{SAGE_tag} 
caltech	  caltech_GO_defs.ace			GO_term
caltech	  caltech_Interactions.ace		Interaction
caltech	  caltech_Variations.ace		Variation							{Description}
caltech	  caltech_Database.ace			Database


# global .ace files
P misc_static /wormsrv2/wormbase/misc_static
#misc      misc_nonelegansests.ace		nonelegansests
misc      misc_status.ace			status
misc      misc_meta.jade.ace			meta.jade
misc      misc_tables.ace			tables
misc      misc_tables.jade.ace			tables.jade
misc      misc_stl_superlink.fix.ace		stl_superlink.fix
misc      misc_autoace_methods.ace		autoace_methods
misc      misc_oligo_seq.ace			oligo_seq
misc	  misc_GO_code_descriptions.ace		GO_code_descriptions
misc      misc_mtDNA_predictions.ace		mtDNA_proteinID_SWALL 
misc      misc_SO_terms.ace			SO_term
