# autoace.config contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically
# Syntax: P db_name db_path
#
# <database> <filename> <class> <criteria> [delete tags] {include tag}
#
# e.g. camace	camace_Sequence.ace	Sequence  Species="Caenorhabditis elegans"
# will dump ?Sequence objects where Species is "Caenorhabditis elegans" from camace 


# objects from briggsae database
P briggsae /wormsrv2/brigace
briggsae  briggsae_Sequence.ace		Sequence	Species="Caenorhabditis briggsae"	[DNA_homol Confidential_remark]
briggsae  briggsae_DNA.ace              DNA             Species="Caenorhabditis briggsae"
briggsae  briggsae_Transcript.ace	Transcript      Species="Caenorhabditis briggsae"
briggsae  briggsae_repeats.ace		Genome_sequence				{Feature_data+}

# objects from stlace 
P stlace /wormsrv2/stlace
stlace	  stlace_Sequence.ace		Sequence        [Homol_data Feature_data Homol_homol Locus_genomic_seq Confirmed_by Protein_id Confidential_remark]
stlace	  stlace_DNA.ace		DNA		Species="Caenorhabditis elegans"
stlace	  stlace_Transposon.ace		Transposon
stlace	  stlace_Transcript.ace		Transcript
stlace    stlace_repeats.ace		Genome_sequence				{Feature_data+}

# objects from camace 
P camace /wormsrv2/camace
camace	  camace_Sequence.ace		Sequence	[Homol_data Feature_data Homol_homol Locus_genomic_seq Confirmed_by Protein_id Confidential_remark]
camace	  camace_DNA.ace		DNA		
camace 	  camace_Motif.ace		Motif
camace	  camace_Transposon.ace		Transposon
camace	  camace_Transcript.ace		Transcript
camace    camace_repeats.ace		Genome_sequence				{Feature_data+}
camace    camace_EST_features.ace	Sequence	Method = "EST_elegans"  {Feature_data+}		
camace    camace_NDB_features.ace	Sequence	Method = "NDB"		{Feature_data+}		
camace	  camace_Genetic_code.ace	Genetic_code

# objects from geneace 
P geneace /wormsrv2/geneace
geneace	  geneace_2_point_data.ace	2_point_data
geneace	  geneace_Allele.ace		Allele
geneace   geneace_Clone.ace		Clone
geneace   geneace_Contig.ace		Contig
geneace   geneace_Gene_class.ace	Gene_class
geneace   geneace_Grid.ace		Grid
geneace   geneace_Laboratory.ace	Laboratory
geneace   geneace_Locus.ace		Locus
geneace   geneace_LongText.ace		LongText
geneace   geneace_Map.ace		Map
geneace   geneace_Multi_pt_data.ace	Multi_pt_data					
geneace   geneace_Oligo.ace		Oligo
geneace   geneace_PCR_product.ace	PCR_product
geneace   geneace_Picture.ace		Picture
geneace   geneace_Pos_neg_data.ace	Pos_neg_data
geneace   geneace_Rearrangement.ace	Rearrangement
geneace   geneace_Reconstruction.ace    Reconstruction
geneace   geneace_Strain.ace		Strain
geneace   geneace_View.ace		View
geneace	  geneace_Detailed.ace		Sequence	{Detailed_description}
geneace	  geneace_Provisional.ace	Sequence	{Provisional_description}
geneace	  geneace_Concise.ace		Sequence	{Concise_description}
geneace	  geneace_DBannotation.ace	Sequence	{DB_annotation}


# objects from Cold Spring Harbour
P csh  /wormsrv2/cshace
csh       csh_Cell.ace			Cell
csh       csh_RNAi.ace			RNAi
csh       csh_Phenotype.ace		Phenotype
csh       csh_Sequence.ace		Sequence
csh       csh_PCR_product.ace		PCR_product
csh       csh_LongText.ace		LongText
csh       csh_Movie.ace			Movie
csh       csh_GO_term.ace		GO_term
csh       csh_Locus.ace			Locus
csh       csh_Allele.ace		Allele
csh       csh_Oligo.ace			Oligo
csh	  csh_Affymetrix_result.ace	Affymetrix_result



# objects from Caltech
P caltech  /wormsrv2/citace
caltech   caltech_Transgene.ace		Transgene
caltech   caltech_Expr_pattern.ace      Expr_pattern
caltech   caltech_Life_stage.ace	Life_stage
caltech   caltech_Cell.ace		Cell
caltech   caltech_Cell_group.ace	Cell_group
caltech   caltech_Paper.ace		Paper
caltech	  caltech_Journal.ace		Journal
caltech	  caltech_Author.ace		Author
caltech	  caltech_Person.ace		Person
caltech	  caltech_LongText.ace		LongText
caltech   caltech_RNAi.ace		RNAi
caltech   caltech_Oligo.ace		Oligo
caltech   caltech_PCR_product.ace	PCR_product
caltech   caltech_Sequence.ace		Sequence
caltech   caltech_Phenotype.ace		Phenotype
caltech   caltech_Expr_profile.ace      Expr_profile
caltech   caltech_SK_map.ace		SK_map
caltech   caltech_Tree.ace		Tree
caltech   caltech_TreeNode.ace		TreeNode
caltech   caltech_GO_term.ace		GO_term
caltech	  caltech_Microarray_result.ace	Microarray_result
caltech	  caltech_Microarray_aff.ace	Microarray_aff
caltech	  caltech_Condition.ace		Condition
caltech	  caltech_Cluster.ace		Cluster

# global .ace files
P misc /wormsrv2/wormbase/misc
#misc      misc_nonelegansests.ace	nonelegansests
misc      misc_status.ace		status
misc      misc_meta.jade.ace		meta.jade
misc      misc_tables.ace		tables
misc      misc_tables.jade.ace		tables.jade
#misc      misc_seq-gmap.ace		seq-gmap
misc      misc_stl_superlink.fix.ace	stl_superlink.fix
misc      misc_autoace_methods.ace      autoace_methods
misc      misc_oligo_seq.ace		oligo_seq
misc	  misc_interpro2go.ace		interpro2go
misc	  misc_interpro_motifs.ace	interpro_motifs
misc	  misc_pfam_motifs.ace		pfam_motifs
misc	  misc_GO_code_descriptions.ace		GO_code_descriptions
