# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=basedir
db=brenneri	file=brenneri_Sequence.ace	class=Sequence		query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_DNA.ace		class=DNA
db=brenneri	file=brenneri_Feature_data.ace	class=Feature_data
db=brenneri	file=brenneri_repeats.ace	class=brenneri_genomic	follow=Feature_data
db=brenneri	file=brenneri_CDS.ace		class=CDS		query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_Pseudogene.ace	class=Pseudogene	query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_Transcript.ace	class=Transcript	query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_Variation.ace	class=Variation
db=brenneri	file=brenneri_Genes.ace		class=Gene		query=(Species="Caenorhabditis brenneri")	delete=Identity	delete=Gene_class	delete=Ortholog	delete=Ortholog_other
db=brenneri	file=brenneri_EST.ace		class=Sequence	query=(Species="Caenorhabditis brenneri" AND cDNA)	delete=Confidential_remark
db=brenneri	file=brenneri_mRNA.ace		class=Sequence	query=(Species="Caenorhabditis brenneri" AND method="NDB")	delete=Confidential_remark
db=brenneri	file=brenneri_Feature.ace	class=Feature
db=brenneri	file=brenneri_Protein.ace	class=Protein	query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_Peptide.ace	class=Protein	query=(Species="Caenorhabditis brenneri")	follow=Peptide
db=brenneri	file=brenneri_Analysis.ace	class=Analysis
db=brenneri	file=brenneri_Condition.ace	class=Condition	query=(Species="Caenorhabditis brenneri")
db=brenneri	file=brenneri_Oligo_set.ace	class=Oligo_set
db=brenneri	file=brenneri_Microarray_results.ace	class=Microarray_results
db=brenneri	file=brenneri_RNAi.ace	class=RNAi	query=(Species="Caenorhabditis brenneri"
