# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=primaries
db=brenneri	file=brenneri_CDS.ace		class=CDS		query=(Species="Caenorhabditis brenneri")	delete=RNASeq_FPKM	delete=Confidential_remark	delete=Corresponding_protein	delete=Protein_id	delete=Associated_feature
db=brenneri	file=brenneri_Pseudogene.ace	class=Pseudogene	query=(Species="Caenorhabditis brenneri")	delete=RNASeq_FPKM	delete=Confidential_remark
db=brenneri	file=brenneri_Transcript.ace	class=Transcript	query=(Species="Caenorhabditis brenneri" AND method!="Coding_transcript")	delete=RNASeq_FPKM	delete=Confidential_remark
db=brenneri	file=brenneri_Sequence.ace	class=Sequence		query=(Species="Caenorhabditis brenneri")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object
db=brenneri	file=brenneri_DNA.ace		class=DNA
db=brenneri	file=brenneri_Genetic_code.ace	class=Genetic_code
db=brenneri	file=brenneri_LongText.ace	class=LongText
db=brenneri	file=brenneri_Feature.ace	class=Feature
db=brenneri	file=brenneri_Feature_data.ace	class=Feature_data

db=geneace	file=brenneri_Genes.ace		class=Gene		query=(Species="Caenorhabditis brenneri")	delete=Reference
db=geneace	file=brenneri_Variation.ace		class=Variation		query=(Species="Caenorhabditis brenneri")
db=geneace	file=brenneri_Sequence_collection.ace		class=Sequence_collection		query=(Species="Caenorhabditis brenneri")
db=geneace	file=brenneri_Species.ace		class=Species		query=("Caenorhabditis brenneri")
db=geneace	file=brenneri_Analysis.ace	class=Analysis	format="Reference WBPaper\d{8}"	format="Conducted_by WBPerson\d{1,5}"
db=geneace	file=brenneri_Condition.ace	class=Condition

db=citace	file=brenneri_Oligo_set.ace		class=Oligo_set		query=(Species="Caenorhabditis brenneri")	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=brenneri_Microarray_results.ace		class=Microarray_results	query=(Species="Caenorhabditis brenneri")	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
db=citace	file=brenneri_Microarray_experiment.ace	class=Microarray_experiment	query=(Species="Caenorhabditis brenneri")	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Gene_GO_term.ace	class=Gene	tag=GO_term	format="Paper_evidence WBPaper\d{8}"	format="Curator_confirmed WBPerson\d{1,5}"	format="GO_term GO:\d{7}"

db=config	file=misc_autoace_methods.ace

path=misc_static
db=misc	file=misc_SO_terms.ace
