# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

# objects from briggsae database
path=primaries
db=briggsae	file=briggsae_Homol_data.ace	class=Homol_data
db=briggsae	file=briggsae_repeats.ace	class=Briggsae_genomic	follow=Feature_data
db=briggsae	file=briggsae_CDS.ace	class=CDS	query=(Species="Caenorhabditis briggsae")	delete=RNASeq_FPKM	delete=Confidential_remark	delete=Corresponding_protein	delete=DB_remark	format="Reference WBPaper\d{8}"
db=briggsae	file=briggsae_Pseudogene.ace	class=Pseudogene	query=(Species="Caenorhabditis briggsae")	delete=RNASeq_FPKM	delete=Confidential_remark
db=briggsae	file=briggsae_Transcript.ace	class=Transcript	query=(Species="Caenorhabditis briggsae" AND method!="Coding_transcript")	delete=RNASeq_FPKM	delete=Confidential_remark	format="Reference WBPaper\d{8}"
db=briggsae	file=briggsae_Sequence.ace	class=Sequence	query=(Species="Caenorhabditis briggsae")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object
db=briggsae	file=briggsae_DNA.ace		class=DNA	query=(Species="Caenorhabditis briggsae")
db=briggsae	file=briggsae_Genetic_code.ace	class=Genetic_code
db=briggsae	file=briggsae_LongText.ace	class=LongText
db=briggsae	file=briggsae_Feature.ace	class=Feature
db=briggsae	file=briggsae_Feature_data.ace	class=Feature_data
db=briggsae	file=briggsae_Transposon.ace	class=Transposon	format="Method Transposon|history_transposon"
db=briggsae	file=briggsae_Transposon_fam.ace	class=Transposon_family
db=briggsae	file=briggsae_EST_features.ace	class=Sequence	query=(Method = "EST_briggsae")	follow=Feature_data
db=briggsae	file=briggsae_Trinity_features.ace	class=Sequence	query=(Method = "RNASeq_trinity")	follow=Feature_data
db=briggsae	file=briggsae_NDB_features.ace	class=Sequence	query=(Method = "NDB")	follow=Feature_data

db=geneace	file=briggsae_Genes.ace		class=Gene		query=(Species="Caenorhabditis briggsae")
db=geneace	file=briggsae_Variation.ace	class=Variation		query=(Species="Caenorhabditis briggsae")
db=geneace	file=briggsae_Sequence_collection.ace		class=Sequence_collection		query=(Species="Caenorhabditis briggsae")
db=geneace	file=briggsae_Species.ace		class=Species		query=("Caenorhabditis briggsae")
db=geneace	file=briggsae_Analysis.ace	class=Analysis	format="Reference WBPaper\d{8}"	format="Conducted_by WBPerson\d{1,5}"
db=geneace	file=briggsae_Condition.ace	class=Condition


db=citace	file=briggsae_Oligo_set.ace	class=Oligo_set		query=(Species="Caenorhabditis briggsae")	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=briggsae_Microarray_results.ace	class=Microarray_results	query=(Species="Caenorhabditis briggsae")	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
db=citace	file=briggsae_Microarray_experiment.ace	class=Microarray_experiment	query=(Species="Caenorhabditis briggsae")	format="Reference WBPaper\d{8}"
db=citace	file=caltech_RNAi.ace	class=RNAi	query=(Species="Caenorhabditis briggsae")	delete=Inhibits	delete=Homol	format="Reference WBPaper\d{8}"	format="Phenotype WBPhenotype:\d{7}"

db=config	file=misc_autoace_methods.ace

path=misc_static
db=misc	file=misc_SO_terms.ace
