# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm


path=primaries
db=brugace	file=brugia_CDS.ace		class=CDS		query=(Species="Brugia malayi" AND Method)	delete=Confidential_remark	delete=Protein_id	delete=Associated_feature
db=brugace	file=brugia_Pseudogene.ace	class=Pseudogene	query=(Species="Brugia malayi")	delete=Confidential_remark
db=brugace	file=brugia_Transcript.ace	class=Transcript	query=(Species="Brugia malayi" AND Method AND Method!="Coding_transcript")	delete=Confidential_remark
db=brugace	file=brugia_Sequence.ace	class=Sequence		query=(Species="Brugia malayi")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object
db=brugace	file=brugia_DNA.ace		class=DNA
db=brugace	file=brugia_Feature_data.ace	class=Feature_data

db=geneace	file=brugia_Genes.ace		class=Gene		query=(Species="Brugia malayi")	delete=Reference
db=geneace	file=brugia_Variation.ace	class=Variation		query=(Species="Brugia malayi")
db=geneace	file=brugia_Feature.ace		class=Feature		query=(Species="Brugia malayi")
db=geneace	file=brugia_Operon_data.ace	class=Operon		query=(Species="Brugia malayi")
db=geneace	file=brugia_geneaceAnalysis.ace	class=Analysis
db=geneace	file=brugia_geneaceConditions.ace	class=Condition
db=geneace	file=brugia_SequenceCollection.ace	class=Sequence_collection	query=(Species="Brugia malayi")

path=database
db=brugia	file=brugia_Sequence_.ace	class=Sequence		query=(Method!=Genomic_canonical)
db=brugia	file=brugia_Feature_data_.ace	class=Feature_data
db=brugia	file=brugia_LongText.ace	class=LongText
db=brugia	file=brugia_Condition.ace	class=Condition
db=brugia	file=brugia_Analysis.ace	class=Analysis
db=brugia	file=brugia_Feature.ace		class=Feature

db=config	file=misc_autoace_methods.ace
