# 
# Config file for the $wormbase->check_file() routine.
# 
# Each script can have checks for one or more files.
# Each organism can have its own checks, but if these are not
# given explicitly, the default check is performed
# 
# 
# The syntax is like this
# 
# SPECIES	species_name (or default)
# SCRIPT	script_name.pl	[optional script part_name]
#		FILE		file_basename
#				minsize		size # minimum size
#				maxsize		size # maximum size
#				minlines	length # minimum number of lines
#				maxlines	length # maximum number of lines
#				samesize	filename # must be the same size of the specificed file
#				similarsize	filename # must be of size +- 10% of the specificed file
#				line1		regexp # line 1 must match this regexp
#				line2		regexp # line 2 must match this regexp
#				lines		regexp # (repeat as necessary) all lines must match this regexp (or other 'lines regexp's)
#				requires	regexp # (repeat as necessary) this regexp must be matched at least once
#				readonly	allowed # this file is allowed to have eradonly file permissions
#				gff		file # this file is a GFF file and will have lots of checks run accordingly
# 
# any of these checks can be specified here or in the check_file() routine.
#
# variable names used to make filenames should be expanded to a constant string where possible.
# wormbase methods can be included in the file name and should be quoted using ${  } in the middle of filenames.
# so use: 
# $wormbase->ontology/anatomy_association.${\$wormbase->get_wormbase_version_name}.wb
# instead of $ontology_dir/$basename.$release.wb


##########################################################################
SPECIES	      elegans
##########################################################################


SCRIPT	processGFF.pl	clone_acc
	FILE	$wormbase->gff_splits/CHROMOSOME_I_clone_acc.gff
		minsize		45000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_II_clone_acc.gff
		minsize		49000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_III_clone_acc.gff
		minsize		38000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_IV_clone_acc.gff
		minsize		49000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_V_clone_acc.gff
		minsize		69000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_X_clone_acc.gff
		minsize		61000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_MtDNA_clone_acc.gff
		minsize		0
		gff file

SCRIPT	parse_expr_pattern_new.pl
	FILE	$wormbase->ontology/anatomy_association.${\$wormbase->get_wormbase_version_name}.wb
		minsize	4500000
		maxsize	10000000
		lines ^WB\tWBGene\d+\t\S+\t\S*\t\S+\t\S*\tExpr_pattern\t\S+

SCRIPT	write_DB_remark.pl
	FILE	$wormbase->acefiles/misc_DB_remark.ace
		minsize	40000000
		lines	^CDS\s+:\s+\S+
		lines	^Pseudogene\s+:\s+\S+
		lines	^Transcript\s+:\s+\S+
		lines	^-D\s+DB_remark
		lines	^DB_remark
		lines	^\s+$

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		2500000
		maxsize		6500000
		lines		^>\S+\.\S+\s+\S+
		lines		^[ACGU]+$
		lines		^$

##########################################################################
SPECIES	      briggsae
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		80000
		maxsize		1200000
		lines		^>CBG\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$



##########################################################################
SPECIES	      remanei
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		98000
		maxsize		192000
		lines		^>CRE\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$


##########################################################################
SPECIES	     brenneri 
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		130000
		maxsize		1200000
		lines		^>CBN\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$


##########################################################################
SPECIES	      japonica
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		290000
		maxsize		1200000
		lines		^>CJA\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$

##########################################################################
SPECIES	     brugia 
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		80000
		maxsize		1200000
		lines		^>Bm\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$

##########################################################################
SPECIES	     ovolvulus
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		0
		maxsize		1200000
		lines		^>OVOC\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$

##########################################################################
SPECIES	     sratti
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		0
		maxsize		1200000
		lines		^>SRAE_\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$



##########################################################################
SPECIES	      pristionchus
##########################################################################

SCRIPT	make_wormrna.pl
# $rnafile = "$new_wrdir/".$wormbase->pepdir_prefix."rna$release.rna"
	FILE	$wormbase->wormrna/${\$wormbase->pepdir_prefix}rna${\$wormbase->get_wormbase_version}.rna
		readonly	1
		minsize		0
		maxsize		1200000
		lines		^>PPA\S+\s+\S+
		lines		^[ACGUN]+$
		lines		^$


##########################################################################
SPECIES	      default
# 
# The tests here will be done only if a script's file is not found in
# the species sections above
# 
##########################################################################

SCRIPT	initiate_build.pl
	FILE	$wormbase->autoace/wgf/cds.hex	
		minsize		33024	
	FILE	$wormbase->autoace/wgf/newnem.atg
		minsize		830
	FILE	$wormbase->autoace/wgf/newnem.codon
		minsize		1443	
	FILE	$wormbase->autoace/wgf/newnem.gene
		minsize		4462	
	FILE	$wormbase->autoace/wgf/newnem.intron3
		minsize		1150	
	FILE	$wormbase->autoace/wgf/newnem.intron5
		minsize		1148	
	FILE	$wormbase->autoace/wgf/ref.hist
		minsize		121509	
	FILE	$wormbase->autoace/wgf/tables
		minsize		142	
	FILE	$wormbase->autoace/wgf/zk637.atg
		minsize		826	
	FILE	$wormbase->autoace/wgf/zk637.intron3
		minsize		1133	
	FILE	$wormbase->autoace/wgf/zk637.intron5
		minsize		1131	
	FILE	$wormbase->autoace/wgf/zk637.trinuc
		minsize		1062	
