# 
# Config file for the $wormbase->check_file() routine.
# 
# Each script can have checks for one or more files.
# Each organism can have its own checks, but if these are not
# given explicitly, the default check is performed
# 
# 
# The syntax is like this
# 
# SPECIES	species_name (or default)
# SCRIPT	script_name.pl	[optional script part_name]
#		FILE		file_basename
#				minsize		size
#				maxsize		size
#				minlines	length
#				maxlines	length
#				samesize	filename
#				similarsize	filename
#				line1		regexp
#				line2		regexp
#				lines		regexp (repeat as necessary)
#				requires	regexp (repeat as necessary)
#				readonly	allowed
#				gff		file
# 
# any of these checks can be specified here or in the check_file() routine.

##########################################################################
SPECIES	      elegans
##########################################################################


SCRIPT	processGFF.pl	clone_acc
	FILE	$wormbase->gff_splits/CHROMOSOME_I_clone_acc.gff
		minsize		45000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_II_clone_acc.gff
		minsize		49000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_III_clone_acc.gff
		minsize		38000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_IV_clone_acc.gff
		minsize		49000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_V_clone_acc.gff
		minsize		69000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_X_clone_acc.gff
		minsize		61000
		gff file
		requires	\s+acc=\S+\s+ver=\d+
	FILE	$wormbase->gff_splits/CHROMOSOME_MtDNA_clone_acc.gff
		minsize		0
		gff file





##########################################################################
SPECIES	      remanei
##########################################################################



##########################################################################
SPECIES	      briggsae
##########################################################################



##########################################################################
SPECIES	      default
# 
# The tests here will be done only if a script's file is not found in
# the species sections above
# 
##########################################################################

SCRIPT	initiate_build.pl
	FILE	$wormbase->autoace/wgf/cds.hex	
		minsize		33024	
	FILE	$wormbase->autoace/wgf/newnem.atg
		minsize		830
	FILE	$wormbase->autoace/wgf/newnem.codon
		minsize		1443	
	FILE	$wormbase->autoace/wgf/newnem.gene
		minsize		4462	
	FILE	$wormbase->autoace/wgf/newnem.intron3
		minsize		1150	
	FILE	$wormbase->autoace/wgf/newnem.intron5
		minsize		1148	
	FILE	$wormbase->autoace/wgf/ref.hist
		minsize		121509	
	FILE	$wormbase->autoace/wgf/tables
		minsize		142	
	FILE	$wormbase->autoace/wgf/zk637.atg
		minsize		826	
	FILE	$wormbase->autoace/wgf/zk637.intron3
		minsize		1133	
	FILE	$wormbase->autoace/wgf/zk637.intron5
		minsize		1131	
	FILE	$wormbase->autoace/wgf/zk637.trinuc
		minsize		1062	
