# 
# Config file for the $wormbase->check_file() routine.
# 
# Each script can have checks for one or more files.
# Each organism can have its own checks, but if these are not
# given explicitly, the default check is performed
# 
# 
# The syntax is like this
# 
# CHECK	script_name.pl	file_basename	[optional organism name]
#	minsize		size
#	maxsize		size
#	minlines	length
#	maxlines	length
#	samesize	filename
#	similarsize	filename
#	line1		regexp
#	line2		regexp
#	lines		regexp
#	required	regexp
#	readonly	allowed
# 
# any of these checks can be specified here or in the calling routine.
# except checks which require a filename (samesize, similarsize)
# remain only in the calling routine.


# generic for all organisms
CHECK	initiate_build.pl	cds.hex	
	minsize			33024	
CHECK	initiate_build.pl	newnem.atg
	minsize			830

# only check the sizes for elegans
CHECK	processGFF.pl		CHROMOSOME_I_clone_acc.gff	elegans
	minsize			45000
CHECK	processGFF.pl		CHROMOSOME_II_clone_acc.gff	elegans
	minsize			49000
CHECK	processGFF.pl		CHROMOSOME_III_clone_acc.gff	elegans
	minsize			38000
CHECK	processGFF.pl		CHROMOSOME_IV_clone_acc.gff	elegans
	minsize			49000
CHECK	processGFF.pl		CHROMOSOME_V_clone_acc.gff	elegans
	minsize			69000
CHECK	processGFF.pl		CHROMOSOME_X_clone_acc.gff	elegans
	minsize			61000
CHECK	processGFF.pl		CHROMOSOME_MtDNA_clone_acc.gff	elegans
	minsize			0

