# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping, (can have zero to many of these)
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm
#format - specifies the expected regex format of the value after a tag (can have zero to many of these)

path=primaries
#	objects	from	geneace
db=geneace	file=geneace_2_point_data.ace	class=2_point_data	format="Gene_1 WBGene\d{8}"	format="Gene_2 WBGene\d{8}"
db=geneace	file=geneace_Analysis.ace		class=Analysis	format="Reference WBPaper\d{8}"	format="Conducted_by WBPerson\d{1,5}"
db=geneace	file=geneace_Clone.ace			class=Clone	format="Positive_gene WBGene\d{8}"
db=geneace	file=geneace_Condition.ace		class=Condition	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_Contig.ace			class=Contig
db=geneace	file=geneace_Database.ace		class=Database
db=geneace	file=geneace_Feature.ace		class=Feature	format="Bound_by_product_of WBGene\d{8}"	format="SO_term SO:\d{7}"
db=geneace	file=geneace_Gene.ace			class=Gene	delete=Reference	format="Allele WBVar\d{8}"	format="Ortholog WBGene\d{8}|ENSDARG\d{11}"	format="Split_from WBGene\d{8}"	format="Merged_into WBGene\d{8}"	format="Merged_into WBGene\d{8}"	format="Acquires_merge WBGene\d{8}"	format="Merged_into WBGene\d{8}"
db=geneace	file=geneace_Gene_class.ace		class=Gene_class	format="Genes WBGene\d{8}"
db=geneace	file=geneace_Gene_cluster.ace		class=Gene_cluster
db=geneace	file=geneace_Grid.ace			class=Grid
db=geneace	file=geneace_Laboratory.ace		class=Laboratory	format="Alleles WBVar\d{8}"	delete=Representative	delete=Registered_lab_members	delete=Past_lab_members	delete=Allele_designation	delete=Strain_designation	delete=Address
db=geneace	file=geneace_Locus.ace			class=Locus
db=geneace	file=geneace_Map.ace			class=Map
db=geneace	file=geneace_Multi_pt_data.ace	class=Multi_pt_data	format="Gene_A WBGene\d{8}"	format="Gene_B WBGene\d{8}"	format="Gene WBGene\d{8}"
db=geneace	file=geneace_Oligo.ace			class=Oligo
db=geneace	file=geneace_Operon_data.ace		class=Operon	query=(Species="Caenorhabditis elegans")	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_PCR_product.ace	class=PCR_product	format="Variation WBVar\d{8}"
db=geneace	file=geneace_Picture.ace		class=Picture
db=geneace	file=geneace_Pos_neg_data.ace	class=Pos_neg_data
db=geneace	file=geneace_Rearrangement.ace	class=Rearrangement	format="Gene_inside WBGene\d{8}"	format="Gene_outside WBGene\d{8}"	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_Sequence_collection.ace	class=Sequence_collection
db=geneace	file=geneace_Species.ace		class=Species	query=(NCBITaxonomyID)
db=geneace	file=geneace_Strain.ace			class=Strain	format="Made_by WBPerson\d{1,5}"	format="Contact WBPerson\d{1,5}"	format="Gene WBGene\d{8}"	format="Variation WBVar\d{8}"	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_Transcription_factor.ace	class=Transcription_factor
db=geneace	file=geneace_Variation.ace		class=Variation		query=(Species="Caenorhabditis elegans")	delete=Phenotype_remark	delete=Recessive	delete=Semi_dominant	delete=Dominant	delete=Partially_penetrant	delete=Completely_penetrant	delete=Temperature_sensitive	delete=Loss_of_function	delete=Gain_of_function	delete=Maternal	delete=Paternal	format="Gene WBGene\d{8}"	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_Variation_other.ace		class=Variation		query=(Species!="Caenorhabditis elegans" AND Species!="Caenorhabditis briggsae" AND Species!="Caenorhabditis brenneri" AND Species!="Caenorhabditis remanei" AND Species!="Caenorhabditis japonica" AND Species!="Brugia malayi" AND Species!="Onchocerca volvulus" AND Species!="Strongyloides ratti" AND Species!="Pristionchus pacificus")	format="Reference WBPaper\d{8}"
db=geneace	file=geneace_View.ace			class=View

#	objects	from	camace
db=camace	file=camace_CDS.ace			class=CDS		required=(Method)	required=(Gene|Gene_history)	delete=RNASeq_FPKM	delete=Corresponding_protein	delete=Confidential_remark	format="Gene WBGene\d{8}"	format="Gene_history WBGene\d{8}"	format="Reference WBPaper\d{8}"
db=camace	file=camace_DNA.ace			class=DNA
db=camace	file=camace_EST_features.ace		class=Sequence	query=(Method = "EST_elegans")	follow=Feature_data
db=camace	file=camace_Trinity_features.ace	class=Sequence	query=(Method = "RNASeq_trinity")	follow=Feature_data
db=camace	file=camace_NDB_features.ace		class=Sequence	query=(Method = "NDB")		follow=Feature_data
db=camace	file=camace_Feature.ace			class=Feature
db=camace	file=camace_Genetic_code.ace	class=Genetic_code
db=camace	file=camace_LongText.ace		class=LongText
db=camace	file=camace_Motif.ace			class=Motif		delete=Homol_homol	query=(!PFAM*)
db=camace	file=camace_Peptide		class=Peptide	query=(WBStructure*)
db=camace	file=camace_Protein		class=Protein	tag=Structure_homol	format="Structure_homol WBStructure\d{6}"
db=camace	file=camace_Pseudogene.ace		class=Pseudogene	format="Gene WBGene\d{8}"	required=(Gene|Gene_history)	delete=RNASeq_FPKM	delete=Variation	delete=Confidential_remark
db=camace	file=camace_Sequence.ace		class=Sequence	query=(Species="Caenorhabditis elegans")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Protein_id	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object	delete=Operon	format="Reference WBPaper\d{8}"
db=camace	file=camace_Structure_data.ace	class=Structure_data	format="Protein WBStructure\d{6}"
db=camace	file=camace_Transcript.ace		class=Transcript	delete=RNASeq_FPKM	delete=Variation	delete=Associated_feature	format="Gene WBGene\d{8}"	format="Reference WBPaper\d{8}"
db=camace	file=camace_Transposon.ace		class=Transposon	format="Method Transposon|history_transposon"
db=camace	file=camace_Transposon_fam.ace		class=Transposon_family
db=camace	file=camace_Clone.ace			class=Clone	format="Reference WBPaper\d{8}"

#	objects	from	Caltech
db=citace	file=caltech_Anatomy_function	class=Anatomy_function	format="Phenotype WBPhenotype:\d{7}"	format="Involved WBbt:\d{7}"	format="Not_involved WBbt:\d{7}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Anatomy_name.ace	class=Anatomy_name	format="Name_for_anatomy_term WBbt:\d{7}"	format="Synonym_for_anatomy_term WBbt:\d{7}"
db=citace	file=caltech_Anatomy_term.ace	class=Anatomy_term	format="IS_A_c WBbt:\d{7}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Antibody.ace		class=Antibody	format="Gene WBGene\d{8}"	format="Reference WBPaper\d{8}"	format="Original_publication WBPaper\d{8}"
db=citace	file=caltech_Author.ace			class=Author	format="Paper WBPaper\d{8}"	format="Possible_person WBPerson\d{1,5}"
db=citace	file=caltech_CDS.ace				class=CDS	format="Interaction WBInteraction\d{9}"
db=citace	file=caltech_Cell.ace			class=Cell	format="Reference WBPaper\d{8}"	format="Anatomy_term WBbt:\d{7}"
db=citace	file=caltech_Cell_group.ace		class=Cell_group	format="Reference WBPaper\d{8}"	format="Anatomy_term WBbt:\d{7}"
db=citace	file=caltech_Condition.ace				class=Condition
db=citace	file=caltech_Analysis.ace		class=Analysis	query=(Sample)	format="Reference WBPaper\d{8}"	format="Conducted_by WBPerson\d{1,5}"
db=citace	file=caltech_DO_defs.ace		class=DO_term	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Database.ace		class=Database
db=citace	file=caltech_Expr_pattern.ace	class=Expr_pattern	format="Gene WBGene\d{8}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Expr_profile.ace	class=Expr_profile	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Expresion_cluster.ace		class=Expression_cluster	format="Reference WBPaper\d{8}"	format="Regulated_by_gene WBGene\d{8}"
db=citace	file=caltech_GO_defs.ace	class=GO_term	format="Component GO:\d{7}"	format="Instance_of GO:\d{7}"	format="Ancestor GO:\d{7}"
db=citace	file=caltech_Gene_Databases.ace	class=Gene	tag=Database
db=citace	file=caltech_Gene_Descriptions.ace	class=Gene	tag=Structured_description
db=citace	file=caltech_Gene_Disease_info.ace	class=Gene	tag=Disease_info
db=citace	file=caltech_Gene_Disease_annotation.ace	class=Disease_model_annotation	format="Paper_evidence WBPaper\d{8}"	format="Curator_confirmed WBPerson\d{1,5}"	format="Inferred_gene WBGene\d{8}"	format="Modifier_gene WBGene\d{8}"
db=citace	file=caltech_Genotype.ace		class=Genotype
db=citace	file=caltech_RO_defs.ace		class=RO_term
db=citace	file=caltech_GO_annotation.ace	class=GO_annotation
db=citace	file=caltech_Interactions.ace	class=Interaction	format="Paper WBPaper\d{8}"	format="Effected WBGene\d{8}"	format="Interactor WBGene\d{8}"
db=citace	file=caltech_Life_stage.ace		class=Life_stage	format="Anatomy_term WBbt:\d{7}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_LongText.ace		class=LongText
db=citace	file=caltech_Laboratory.ace		class=Laboratory	delete=Alleles	format="Representative WBPerson\d{1,5}"	format="Registered_lab_members WBPerson\d{1,5}"	format="Past_lab_members WBPerson\d{1,5}"
db=citace	file=caltech_Microarray.ace			class=Microarray	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Microarray_experiment.ace	class=Microarray_experiment	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Microarray_results.ace		class=Microarray_results	query=(Species="Caenorhabditis elegans")	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
db=citace	file=caltech_Molecule.ace			class=Molecule	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Movie.ace			class=Movie
db=citace	file=caltech_Oligo.ace			class=Oligo
db=citace	file=caltech_Oligo_set.ace		class=Oligo_set	query=(Species="Caenorhabditis elegans")	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=caltech_PCR_product.ace		class=PCR_product	delete=S_parent	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene	format="RNAi WBRNAi\d{8}"
db=citace	file=caltech_Paper.ace			class=Paper	format="Abstract WBPaper\d{8}"	format="Not_person WBPerson\d{1,5}"
db=citace	file=caltech_PATO_defs.ace	class=PATO_term	format="Child PATO:\d{7}"	format="Parent PATO:\d{7}"
db=citace	file=caltech_Person.ace			class=Person	format="Paper WBPaper\d{8}"	format="Supervised WBPerson\d{1,5}"	format="Supervised_by WBPerson\d{1,5}"	format="Worked_with WBPerson\d{1,5}"
db=citace	file=caltech_Phenotype.ace		class=Phenotype	format="Specialisation_of WBPhenotype:\d{7}"	format="Generalisation_of WBPhenotype:\d{7}"	format="RNAi WBRNAi\d{8}"	format="Variation WBVar\d{8}"	format="Paper_evidence WBPaper\d{8}"
db=citace	file=caltech_Picture.ace		class=Picture	format="Contact WBPerson\d{1,5}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Position_matrix.ace	class=Position_matrix
db=citace	file=caltech_RNAi.ace			class=RNAi	query=(Species="Caenorhabditis elegans")	delete=Inhibits	delete=Homol	format="Reference WBPaper\d{8}"	format="Phenotype WBPhenotype:\d{7}"
db=citace	file=caltech_SAGE_experiment.ace	class=SAGE_experiment	format="Reference WBPaper\d{8}"
db=citace	file=caltech_SAGE_tag.ace		class=SAGE_tag
db=citace	file=caltech_SK_map.ace			class=SK_map
db=citace	file=caltech_Sequence.ace		class=Sequence		delete=PCR_product	delete=Homol_data	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Strain.ace			class=Strain	format="Phenotype WBPhenotype:\d{7}"	format="Paper_evidence WBPaper\d{8}"	format="Curator_confirmed WBPerson\d{1,5}"
db=citace	file=caltech_Transgene.ace		class=Transgene	format="Reference WBPaper\d{8}"	format="Driven_by_gene WBGene\d{8}"	format="Gene WBGene\d{8}"	format="Phenotype WBPhenotype:\d{7}"	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Tree.ace			class=Tree
db=citace	file=caltech_TreeNode.ace		class=TreeNode	format="Anatomy_term WBbt:\d{7}"
db=citace	file=caltech_Variations.ace		class=Variation	tag=Description	format="Phenotype WBPhenotype:\d{7}"	format="Paper_evidence WBPaper\d{8}"	format="Curator_confirmed WBPerson\d{1,5}"
db=citace	file=caltech_Vartn_refs.ace		class=Variation	tag=Reference	format="Reference WBPaper\d{8}"
db=citace	file=caltech_WBProcess.ace		class=WBProcess	format="Reference WBPaper\d{8}"
db=citace	file=caltech_Construct.ace		class=Construct

path=misc_static
db=misc	file=misc_status.ace
db=misc	file=misc_meta.jade.ace
db=misc	file=misc_tables.ace
db=misc	file=misc_tables.jade.ace
db=misc	file=misc_oligo_seq.ace
db=misc	file=misc_GO_code_descriptions.ace
db=misc	file=misc_SO_terms.ace
db=config	file=misc_autoace_methods.ace


