# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=primaries
#	objects from stlace
db=stlace	file=stlace_Sequence.ace	class=Sequence		query=(Species="Caenorhabditis elegans")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Protein_id	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object
db=stlace	file=stlace_CDS.ace			class=CDS			delete=Protein_id	delete=Confidential_remark	delete=Associated_feature
db=stlace	file=stlace_DNA.ace			class=DNA
db=stlace	file=stlace_Transposon.ace	class=Transposon
db=stlace	file=stlace_Transcript.ace	class=Transcript	delete=Associated_feature
db=stlace	file=stlace_Genetic_code.ace	class=Genetic_code
db=stlace	file=stlace_Pseudogene.ace	class=Pseudogene
db=stlace	file=stlace_Variation.ace	class=Variation
db=stlace	file=stlace_Oligo.ace		class=Oligo
db=stlace	file=stlace_PCR_product.ace	class=PCR_product

#	objects	from	camace
db=camace	file=camace_Sequence.ace		class=Sequence	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Protein_id	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object	delete=Operon
db=camace	file=camace_CDS.ace				class=CDS		delete=Protein_id	delete=Confidential_remark
db=camace	file=camace_DNA.ace				class=DNA
db=camace	file=camace_Motif.ace			class=Motif		delete=Homol_homol	query=(!PFAM*)
db=camace	file=camace_Transposon.ace		class=Transposon
db=camace	file=camace_Transposon_fam.ace		class=Transposon_family
db=camace	file=camace_Transcript.ace		class=Transcript
db=camace	file=camace_EST_features.ace	class=Sequence	query=(Method = "EST_elegans")	follow=Feature_data
db=camace	file=camace_NDB_features.ace	class=Sequence	query=(Method = "NDB")			follow=Feature_data
db=camace	file=camace_Genetic_code.ace	class=Genetic_code
db=camace	file=camace_Pseudogene.ace		class=Pseudogene
db=camace	file=camace_Feature.ace			class=Feature
db=camace	file=camace_LongText.ace		class=LongText

#	objects	from	geneace
db=geneace	file=geneace_2_point_data.ace	class=2_point_data
db=geneace	file=geneace_Clone.ace			class=Clone
db=geneace	file=geneace_Contig.ace			class=Contig
db=geneace	file=geneace_Gene_class.ace		class=Gene_class
db=geneace	file=geneace_Grid.ace			class=Grid
db=geneace	file=geneace_Laboratory.ace		class=Laboratory
db=geneace	file=geneace_Locus.ace			class=Locus
db=geneace	file=geneace_Gene.ace			class=Gene			delete=Reference
db=geneace	file=geneace_Map.ace			class=Map
db=geneace	file=geneace_Multi_pt_data.ace	class=Multi_pt_data
db=geneace	file=geneace_Oligo.ace			class=Oligo
db=geneace	file=geneace_PCR_product.ace	class=PCR_product
db=geneace	file=geneace_Picture.ace		class=Picture
db=geneace	file=geneace_Pos_neg_data.ace	class=Pos_neg_data
db=geneace	file=geneace_Rearrangement.ace	class=Rearrangement
db=geneace	file=geneace_Strain.ace			class=Strain
db=geneace	file=geneace_Variation.ace		class=Variation		delete=Phenotype_remark	delete=Recessive	delete=Semi_dominant	delete=Dominant	delete=Partially_penetrant	delete=Completely_penetrant	delete=Temperature_sensitive	delete=Loss_of_function	delete=Gain_of_function	delete=Maternal	delete=Paternal
db=geneace	file=geneace_View.ace			class=View
db=geneace	file=geneace_DBannotation.ace		class=Sequence		tag=DB_annotation
db=geneace	file=geneace_Operon_data.ace		class=Operon
db=geneace	file=geneace_Database.ace		class=Database
db=geneace	file=geneace_Analysis.ace		class=Analysis
db=geneace	file=geneace_Condition.ace		class=Condition
db=geneace	file=geneace_Feature.ace		class=Feature

#objects from Cold Spring Harbour
db=cshace	file=csh_Sequence.ace		class=Sequence
db=cshace	file=csh_LongText.ace		class=LongText
db=cshace	file=csh_Movie.ace			class=Movie
db=cshace	file=csh_Oligo.ace			class=Oligo
db=cshace	file=csh_PCR_product.ace		class=PCR_product	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=cshace	file=csh_Structure_data.ace	class=Structure_data
db=cshace	file=csh_Peptide				class=Peptide
db=cshace	file=csh_Protein				class=Protein		tag=Structure_homol

#	objects	from	Caltech
db=citace	file=caltech_Transgene.ace		class=Transgene
db=citace	file=caltech_Expr_pattern.ace	class=Expr_pattern
db=citace	file=caltech_Life_stage.ace		class=Life_stage
db=citace	file=caltech_Cell.ace			class=Cell
db=citace	file=caltech_Cell_group.ace		class=Cell_group
db=citace	file=caltech_Paper.ace			class=Paper
db=citace	file=caltech_Paper_name.ace		class=Paper_name
db=citace	file=caltech_Author.ace			class=Author
db=citace	file=caltech_Person.ace			class=Person
db=citace	file=caltech_LongText.ace		class=LongText
db=citace	file=caltech_Oligo.ace			class=Oligo
db=citace	file=caltech_PCR_product.ace		class=PCR_product	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=caltech_Sequence.ace		class=Sequence		regex=(\"\S+:RNAi\" PCR_product Oligo_set ^Oligo\s Reference Nongenomic)
db=citace	file=caltech_CDS.ace				class=CDS
db=citace	file=caltech_Phenotype.ace		class=Phenotype
db=citace	file=caltech_Expr_profile.ace	class=Expr_profile
db=citace	file=caltech_SK_map.ace			class=SK_map
db=citace	file=caltech_Tree.ace			class=Tree
db=citace	file=caltech_TreeNode.ace		class=TreeNode
db=citace	file=caltech_Microarray.ace			class=Microarray
db=citace	file=caltech_Microarray_results.ace		class=Microarray_results	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
db=citace	file=caltech_Microarray_experiment.ace	class=Microarray_experiment
db=citace	file=caltech_Condition.ace				class=Condition
db=citace	file=caltech_Expresion_cluster.ace		class=Expression_cluster
db=citace	file=caltech_Oligo_set.ace		class=Oligo_set			delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=caltech_Anatomy_name.ace	class=Anatomy_name
db=citace	file=caltech_Anatomy_term.ace	class=Anatomy_term
db=citace	file=caltech_Anatomy_function	class=Anatomy_function
db=citace	file=caltech_Homology_group.ace	class=Homology_group
db=citace	file=caltech_Antibody.ace		class=Antibody
db=citace	file=caltech_RNAi.ace			class=RNAi				delete=Inhibits
db=citace	file=caltech_RNAi_homol.ace		class=Homol_data		query=(*RNAi)
db=citace	file=caltech_Expr_homol.ace		class=Homol_data		query=(*Expr)
db=citace	file=caltech_SAGE_homol.ace		class=Homol_data		query=(*SAGE)
db=citace	file=caltech_SAGE_tag.ace		class=SAGE_tag
db=citace	file=caltech_SAGE_experiment.ace	class=SAGE_experiment
db=citace	file=caltech_Gene_regulation.ace	class=Gene_regulation
db=citace	file=caltech_Descriptions.ace	class=Gene					tag=Structured_description
db=citace	file=caltech_GO_term.ace			class=Gene					tag=GO_term
db=citace	file=caltech_Gene_SAGE_cons.ace	class=Gene					tag=SAGE_tag
db=citace	file=caltech_Transcript_SAGE_cons.ace	class=Transcript	tag=SAGE_tag
db=citace	file=caltech_Pseudogene_SAGE_cons.ace	class=Pseudogene	tag=SAGE_tag
db=citace	file=caltech_GO_defs.ace			class=GO_term
db=citace	file=caltech_Interactions.ace	class=Interaction
db=citace	file=caltech_Variations.ace		class=Variation	tag=Description
db=citace	file=caltech_Vartn_refs.ace		class=Variation	tag=Reference
db=citace	file=caltech_Database.ace		class=Database
db=citace	file=caltech_YH.ace				class=YH
db=citace	file=caltech_GeneYH_bait.ace		class=Gene		tag=YH_bait
db=citace	file=caltech_GeneYH_target.ace	class=Gene		tag=YH_target
db=citace	file=caltech_Position_matrix.ace	class=Position_matrix
db=citace	file=caltech_Strain.ace			class=Strain

path=misc_static
db=misc	file=misc_status.ace
db=misc	file=misc_meta.jade.ace
db=misc	file=misc_tables.ace
db=misc	file=misc_tables.jade.ace
db=misc	file=misc_stl_superlink.fix.ace
db=misc	file=misc_oligo_seq.ace
db=misc	file=misc_GO_code_descriptions.ace
db=misc	file=misc_mtDNA_predictions.ace
db=misc	file=misc_SO_terms.ace
db=config	file=misc_autoace_methods.ace


