# autoace.config contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically
# Syntax: P db_name db_path
# every further line: suffix method
# filenames will be /wormbase/db_name/suffix_method.ace
# the database on db_path will be queried for method

# objects from pepace 
P pepace /wormsrv2/pepace
pepace		Protein
pepace		Peptide
pepace		Motif

