# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=database
db=pristionchus	file=pristionchus_CDS.ace		class=CDS		query=(Species="Pristionchus pacificus")	delete=RNASeq_FPKM	delete=Confidential_remark
db=pristionchus	file=pristionchus_Pseudogene.ace	class=Pseudogene	query=(Species="Pristionchus pacificus")	delete=RNASeq_FPKM	delete=Confidential_remark
db=pristionchus	file=pristionchus_Transcript.ace	class=Transcript	query=(Species="Pristionchus pacificus" AND method!="Coding_transcript")	delete=RNASeq_FPKM	delete=Confidential_remark
db=pristionchus	file=pristionchus_Sequence.ace		class=Sequence		query=(Species="Pristionchus pacificus")
db=pristionchus	file=pristionchus_DNA.ace		class=DNA
db=pristionchus	file=pristionchus_Feature_data.ace	class=Feature_data

db=config	file=misc_autoace_methods.ace

path=primaries
db=citace	file=pristionchus_Oligo_set.ace		class=Oligo_set		query=(Species="Pristionchus pacificus")	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
db=citace	file=pristionchus_Microarray_results.ace		class=Microarray_results	query=(Species="Pristionchus pacificus")	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
db=geneace	file=pristionchus_Genes.ace		class=Gene			query=(Species="Pristionchus pacificus")
db=geneace	file=pristionchus_Variation.ace		class=Variation		query=(Species="Pristionchus pacificus")
db=geneace	file=pristionchus_Sequence_collection.ace		class=Sequence_collection		query=(Species="Pristionchus pacificus")
db=geneace	file=pristionchus_Species.ace		class=Species		query=("Pristionchus pacificus")



path=misc_static
db=misc file=misc_SO_terms.ace
