# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=basedir
db=remanei	file=remanei_Sequence.ace	class=Sequence		query=(Species="Caenorhabditis remanei")
db=remanei	file=remanei_DNA.ace		class=DNA
db=remanei	file=remanei_Feature_data.ace	class=Feature_data
db=remanei	file=remanei_repeats.ace	class=remanei_genomic	follow=Feature_data
db=remanei	file=remanei_CDS.ace		class=CDS		query=(Species="Caenorhabditis remanei")
db=remanei	file=remanei_Pseudogene.ace	class=Pseudogene	query=(Species="Caenorhabditis remanei")
db=remanei	file=remanei_Transcript.ace	class=Transcript	query=(Species="Caenorhabditis remanei")
db=remanei	file=remanei_Variation.ace	class=Variation
db=remanei	file=remanei_Genes.ace		class=Gene		query=(Species="Caenorhabditis remanei")	delete=Identity	delete=Gene_class	delete=Ortholog	delete=Ortholog_other
db=remanei	file=remanei_EST.ace		class=Sequence	query=(Species="Caenorhabditis remanei" AND cDNA)	delete=Confidential_remark
db=remanei	file=remanei_mRNA.ace		class=Sequence	query=(Species="Caenorhabditis remanei" AND method="NDB")	delete=Confidential_remark
db=remanei	file=remanei_Feature.ace	class=Feature
db=remanei	file=remanei_Protein.ace	class=Protein	query=(Species="Caenorhabditis remanei")	follow=Peptide
db=remanei	file=remanei_Analysis.ace	class=Analysis
db=remanei	file=remanei_Condition.ace	class=Condition	query=(Species="Caenorhabditis remanei")

db=remanei	file=remanei_Oligo_set.ace	class=Oligo_set
db=remanei	file=remanei_Microarray_results.ace	class=Microarray_results
db=remanei	file=remanei_RNAi.ace	class=RNAi	query=(Species="Caenorhabditis remanei"
