# This config file contains the list of objects and databases and 
# required criteria for making a complete set of objects for
# making autoace automatically

#Fields are key=value pairs, with following keys valid -
#db		- the database name to dump from,
#class	- the class to dump,
#query	- acedb query to run to specify set,
#delete	- tags to delete before dumping,
#tag	- only dump this tag data from specified class,
#follow	- dumps the specified class data for this tag and follows the tag to dump that object too.
#path	- specifies the location of the database to be dumped. Must be a method in Wormbase.pm

path=primaries
db=sratti	file=sratti_CDS.ace		class=CDS		query=(Species="Strongyloides ratti" AND Method)	delete=RNASeq_FPKM	delete=Confidential_remark	delete=Corresponding_protein	delete=Protein_id	delete=Associated_feature
db=sratti	file=sratti_Pseudogene.ace	class=Pseudogene	query=(Species="Strongyloides ratti")	delete=RNASeq_FPKM	delete=Confidential_remark
db=sratti	file=sratti_Transcript.ace	class=Transcript	query=(Species="Strongyloides ratti" AND Method AND Method!="Coding_transcript")	delete=RNASeq_FPKM	delete=Confidential_remark
db=sratti	file=sratti_Sequence.ace	class=Sequence		query=(Species="Strongyloides ratti")	delete=Homol_data	delete=Feature_data	delete=Homol_homol	delete=Confidential_remark	delete=Matching_CDS	delete=Feature_object
db=sratti	file=sratti_DNA.ace		class=DNA
db=sratti	file=sratti_Genetic_code.ace	class=Genetic_code
db=sratti	file=sratti_LongText.ace	class=LongText
db=sratti	file=sratti_Feature.ace		class=Feature
db=sratti	file=sratti_Feature_data.ace	class=Feature_data

db=geneace	file=sratti_Genes.ace		class=Gene		query=(Species="Strongyloides ratti")	delete=Reference
db=geneace	file=sratti_Sequence_collection.ace	class=Sequence_collection	query=(Species="Strongyloides ratti")
db=geneace	file=sratti_Species.ace	class=Species	query=("Strongyloides ratti")
db=geneace	file=sratti_Analysis.ace	class=Analysis	format="Reference WBPaper\d{8}"	format="Conducted_by WBPerson\d{1,5}"
db=geneace	file=sratti_Condition.ace	class=Condition

#db=citace	file=sratti_Oligo_set.ace		class=Oligo_set		query=(Species="Strongyloides ratti")	delete=Overlaps_CDS	delete=Overlaps_transcript	delete=Overlaps_pseudogene
#db=citace	file=sratti_Microarray_results.ace		class=Microarray_results	query=(Species="Strongyloides ratti")	delete=Gene	delete=CDS	delete=Transcript	delete=Pseudogene
#db=citace	file=sratti_Microarray_experiment.ace	class=Microarray_experiment	query=(Species="Strongyloides ratti")	format="Reference WBPaper\d{8}"


db=config	file=misc_autoace_methods.ace

path=misc_static
db=misc	file=misc_SO_terms.ace
